/** Global Styles **/
:root {
  --nutmeg: hsl(14, 45%, 36%);
  --dark-raspberry: hsl(332, 51%, 32%);
  --white: hsl(0, 0%, 100%);
  --rose-white: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --light-grey: hsl(30, 18%, 87%);
  --wenge-brown: hsl(30, 10%, 34%);
  --dark-charcoal: hsl(24, 5%, 18%);
}

html {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  padding: 0;
  line-height: 1.5;
  font-family: "Outfit", sans-serif;
  color: var(--wenge-brown);
  background-color: var(--white);
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-items: center;
}

.recipe-card {
  max-width: 700px;
  max-height: max-content;
  background-color: var(--white);
}

h1,
h2 {
  font-family: "Young Serif", sans-serif;
  font-weight: 500;
}

h2 {
  color: var(--nutmeg);
  font-size: 1.875em;
}

.content-wrapper {
  margin: 30px;
}

li {
  margin-left: 5px;
  padding-left: 25px;
  padding-bottom: 8px;
}

li::marker {
  color: var(--nutmeg);
  font-weight: bold;
  font-size: 0.8em;
}

/** Section Divider Styles **/
.ingredients .content-wrapper,
.instructions .content-wrapper {
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

/** Header Styles **/
header {
}

figure {
  margin: 0;
  padding: 0;
  width: 100%;
  height: fit-content;
}

figure img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/** Main Styles **/
main {
}

/** Introduction Section Styles **/
.introduction {
}

.introduction h1 {
  color: var(--dark-charcoal);
  line-height: 1;
  font-size: 2.2em;
}
.introduction .description {
}

/** Aside Styles **/
aside {
  background-color: hsl(330, 100%, 98%);
  padding: 20px 30px;
}
aside .aside-title {
  margin-top: 0;
  font-weight: bold;
  font-size: 1.25rem;
  color: var(--dark-raspberry);
}

aside ul {
  margin: 0;
  padding: 0 20px;
}

aside ul li {
}
/** Ingredient Section Styles **/
.ingredients {
}

.ingredients ul {
  margin: 0;
  padding-left: 20px;
}
/** Instructions Styles **/
.instructions {
}

.instructions ol {
  margin: 0;
  padding: 0 5px 0 20px;
}

.instructions li::marker {
  font-size: 1em;
}

/** Nutrition Section Styles **/
.nutrition {
}

.nutrition table {
  border-collapse: collapse;
  width: 100%;
}

.nutrition table td:not(.col-values) {
  padding-left: 35px;
}

.nutrition table td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nutrition table .col-values {
  font-weight: bold;
  color: var(--nutmeg);
}

.nutrition table tr:not(.last-row) {
  border-bottom: 1px solid lightgrey;
}

/** Attribution/Footer Styles **/
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 767px) {
  body {
    background-color: var(--eggshell);
  }
  .recipe-card {
    margin: 100px 0px;
    border-radius: 20px;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  figure {
    margin: 35px 35px 0 35px;
    width: 640px;
    border-radius: 10px;
  }

  figure img {
    border-radius: 10px;
  }

  aside {
    border-radius: 15px;
  }
}
