/** Global Styles **/
:root {
}

html {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  padding: 0;
  line-height: 1.5;
  font-family: "Outfit", sans-serif;
}

h1,
h2 {
  font-family: "Young Serif", sans-serif;
}

.content-wrapper {
  margin: 20px;
}

.ingredients ul li {
  padding-left: 30px;
}

li {
  padding-left: 15px;
}

/** Section Divider Styles **/
.ingredients .content-wrapper,
.instructions .content-wrapper {
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

/** Header Styles **/
header {
}

figure {
  margin: 0;
  padding: 0;
  width: 100%;
  height: fit-content;
}

figure img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/** Main Styles **/
main {
}

/** Introduction Section Styles **/
.introduction {
}
.introduction h1 {
}
.introduction .description {
}

/** Aside Styles **/
aside {
  background-color: hsl(330, 100%, 98%);
  padding: 20px;
}
aside .aside-title {
  margin-top: 0;
}

aside ul {
  margin: 0;
  padding: 0 20px;
}

aside ul li {
}
/** Ingredient Section Styles **/
.ingredients {
}

.ingredients ul {
  margin: 0;
  padding-left: 20px;
}
/** Instructions Styles **/
.instructions {
}

.instructions ol {
  margin: 0;
  padding: 0 20px;
}
.instructions ol li {
}

/** Nutrition Section Styles **/
.nutrition {
}

.nutrition table {
  border-collapse: collapse;
  width: 100%;
}

.nutrition table td:not(.col-values) {
  padding-left: 15px;
}
.nutrition table td {
  padding-top: 10px;
  padding-bottom: 10px;
}
.nutrition table tr:not(.last-row) {
  border-bottom: 1px solid lightgrey;
}

/** Attribution/Footer Styles **/
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
